/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
fieldset {
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

/* Lists */
ul[class],
ol[class] {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Links */
a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}

/* Buttons */
button {
  border: none;
  background: none;
  padding: 0;
  color: inherit;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
  text-transform: none;
}

/* Forms */
input,
button,
textarea,
select {
  font: inherit;
}

textarea {
  overflow: auto;
}

[type='checkbox'],
[type='radio'] {
  padding: 0;
}

/* Tables */
table {
  border-collapse: collapse;
}

/* Media */
img,
picture,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/* SVG */
svg * {
  transition-property: fill, stroke;
}

[fill]:not([fill='none'], [fill^='url']) {
  fill: currentColor;
}

[stroke]:not([stroke='none'], [stroke^='url']) {
  stroke: currentColor;
}

/* Accessibility: reduced motion */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Normalization */

main {
  display: block;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
}

b,
strong {
  font-weight: bolder;
}

abbr[title] {
  text-decoration: underline dotted;
  border-bottom: none;
}

img {
  border-style: none;
}

legend {
  box-sizing: border-box;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

summary {
  display: list-item;
}

template,
[hidden] {
  display: none;
}
