body {
  background-color: var(--color-dark);
  color: var(--color-light);
  font-family: var(--font-base);
  font-size: 1rem;
  line-height: 1.75;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
}

a,
button,
input,
textarea,
svg * {
  transition: var(--transition-duration);
}
