.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.input {
  width: 100%;
  min-width: 9.6875rem;
  height: var(--input-height);
  padding-inline: 1.5625rem;
  background-color: transparent;
  color: var(--color-light);
  border: 0.0625rem solid var(--color-light-gray);
  border-radius: var(--border-radius);
}
.input::placeholder {
  color: var(--color-light-gray);
}
.input:focus {
  color: var(--color-dark);
  outline: none;
  background-color: var(--color-light-gray);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

select.input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.button {
  display: inline-flex;
  align-items: center;
  height: 2.375rem;
  font-size: 0.75rem;
  line-height: 2;
  padding-inline: 1.625rem;
  font-weight: var(--font-weight-bold);
  border-radius: var(--border-radius);
  text-transform: uppercase;
  background-color: var(--color-light);
  color: var(--color-dark);
}

.visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 0.0625rem;
  padding: 0;
  margin: -0.0625rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  border: 0;
  white-space: nowrap; /* prevents text wrap */
}

.backdrop-title {
  position: relative;
  z-index: 2;
}
.backdrop-title-plus::before {
  content: '';
  position: absolute;
  display: block;
  right: calc(100% + 0.5rem);
  width: 1.625rem;
  aspect-ratio: 1;
  background: url(img/icons/plus.svg) center/contain no-repeat;
}

.backdrop-title::after {
  content: attr(data-title);
  position: absolute;
  top: -0.45em;
  left: -0.6em;
  font-family: var(--font-alt);
  font-size: 2.8em;
  color: transparent;
  -webkit-text-stroke: 0.0625rem var(--color-light-gray);
  text-stroke: 0.0625rem var(--color-light-gray);
  z-index: -1;
  opacity: 0.6;
}

.backdrop-title.centered::after {
  top: -0.55em;
  left: 50%;
  translate: -50% 0;
}

.title-big {
  font-size: clamp(1.5rem, 3.12vw, 3.75rem);
}

.title-medium {
  font-size: clamp(1.25rem, 2.08vw, 2.5rem);
  line-height: 1.3;
}

.card-description {
  text-align: left;
  color: var(--color-light-gray);
  line-height: 1.75;
  max-width: 25rem;
  margin-block: 1rem 2rem;
}

.card-description-centered {
  text-align: center;
}

/* button */
.card-button {
  padding: unset;
  display: inline-flex;
  column-gap: 0.9375rem;
  letter-spacing: 0.0813rem;
  font-size: 0.8rem;
  background-color: transparent;
  color: var(--color-light);
  border: var(--border);
  padding-left: 1.875rem;
  width: 12.1875rem;
  height: var(--input-height);
}
.card-button::after {
  content: '';
  width: 3.375rem;
  aspect-ratio: 1;
  background: url(img/icons/button-arrow.svg) center/1.5625rem 1.875rem
    no-repeat;
  border: var(--border);
  border-radius: 50%;
  margin-left: auto;
}

.card-body-spacing {
  padding-left: 2.8125rem;
}

.full-width-container {
  max-width: 1920px;
  margin-inline: auto;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
  align-items: center;
}
